@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* TERMINA EL RESET*/
/*---- border-box---*/
* {
  box-sizing: border-box;
}

/*---- border-box---*/
header {
  width: 100vw;
  height: 10vh;
}

body {
  width: 100vw;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar__divlogo {
  width: 33%;
  height: 100%;
}

.navbar__divlogo--img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar__divsearch {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar__ul {
  width: 33%;
  padding: 10px;
  z-index: 1;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
}

.navbar__ul--li-mujer--a {
  font-size: 70px;
  text-decoration: none;
  color: black;
}

.linea::after {
  content: "|";
}

.navbar__ul--li-mujer {
  line-height: 1.8;
}

.fondo {
  font-family: "Ubuntu", sans-serif;
}

.main-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 240vh;
  position: relative;
  justify-content: space-around;
}

.img-galeria {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

figure {
  width: 50%;
  padding: 30px;
  margin-bottom: 85px;
}
figure p {
  font-size: 35px;
  text-align: center;
  color: rgb(168, 167, 167);
}

figcaption {
  text-align: center;
  font-size: 40px;
  margin: 10px;
}

.navbar-img {
  width: 66%;
  height: 40%;
}

.navbar__ul__li--iconos {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar__ul--iconos {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar--input {
  width: 45%;
  height: 30%;
  position: relative;
  border: 1px solid black;
  font-size: 50px;
  padding-right: 20px;
}

.hombre {
  color: grey;
}

.hidde {
  display: none;
}

.div-info2 {
  height: 51vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div-info2-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 50px;
  gap: 50px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  position: relative;
  height: 47vh;
  align-items: center;
  align-content: center;
}

.div-info--descuento {
  font-size: 115px;
  padding-top: 200px;
}
.div-info--descuento h2 {
  font-size: 100px;
}

.color1 {
  color: red;
}

.div-info--newsletter {
  font-size: 71px;
}

.div-info--parrafo {
  font-size: 50px;
  margin-bottom: 150px;
}

.borde {
  border-bottom: 1px solid grey;
}

.div-contacto {
  width: 100%;
  height: 17vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.div-contacto--p {
  font-size: 50px;
  text-align: center;
}

.foot {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-footer {
  display: flex;
  width: 100%;
  height: 26%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}

.section-footer__ul {
  font-size: 35px;
  width: 7vh;
}

.input-1 {
  width: 82%;
  height: 7%;
  border-style: none;
  border-bottom: 3px solid black;
}

.input-1:focus {
  outline-color: transparent;
  font-size: 150px;
}

@media screen and (min-width: 1600px) {
  .main-grid {
    flex-wrap: nowrap;
    height: 88vh;
    align-items: center;
  }
  .figure-fix {
    max-height: 80vh;
  }
  .figure-fix p {
    font-size: 130px;
    text-align: center;
    color: rgb(168, 167, 167);
  }
  .figure-caption1 {
    font-size: 100px;
  }
  .figure-caption1 p {
    font-size: 80px;
  }
  .navbar__ul--li-mujer--aa {
    font-size: 245px;
  }
  .navbar__ul__li--iconos {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .img-galeria {
    height: 64vh;
  }
  .div-info2-div {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .div-info {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div-info-div {
    width: 100%;
    height: 97%;
    align-items: center;
    flex-direction: column;
    gap: 200px;
  }
  .div-info--descuento {
    font-size: 250px;
  }
  .div-info--newsletter {
    font-size: 175px;
  }
  .div-info--parrafo {
    font-size: 100px;
  }
  .div-info::after {
    bottom: 400px;
  }
  .div-contacto {
    width: 72%;
    height: 25vh;
    justify-content: center;
  }
  .div-contacto--p {
    font-size: 130px;
  }
  .section-footer {
    flex-wrap: nowrap;
  }
  .section-footer__ul--guiaDeCompras {
    font-size: 150px;
  }
  .section-footer__ul--li {
    font-size: 80px;
  }
  .section-footer__ul {
    width: 18vh;
  }
  .input-1 {
    width: 33%;
    height: 7%;
    border-style: none;
    border-bottom: 3px solid black;
  }
  .input-1:focus {
    outline-color: transparent;
    font-size: 150px;
  }
}/*# sourceMappingURL=style.css.map */