header{
    width: 100vw;
    height: 10vh;
}
body{
    width: 100vw;
    height: 100vh;
    
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar__divlogo{
    width: 33%;
    height: 100%;
}
.navbar__divlogo--img{
    width: 100%;
    height: 100%;
}
.navbar__divsearch{
    width: 33%;
    height: 100%;
    display: flex;
}
.navbar__ul{
    width: 33%;
    font-size: 50px;
    padding: 10px;
    z-index: 1;
    font-family:  'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    
}
.navbar__ul--li-mujer--a{
    font-size: 50px;
    text-decoration: none;
    color: black;
}
.navbar__ul--li-mujer--aa{
    font-size: 75px;

}
.linea::after {
    content: "|";
}
.navbar__ul--li-mujer{

    line-height: 1.8;

}
.fondo{
    font-family:  'Ubuntu', sans-serif;
}    
.main-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    height: 100vh;
    position: relative;

}

.img-galeria{
    width: 100%;
    height:100%;   
    object-fit: cover;
    
}
figure{
    width: 500px;
    height: 700px;
    margin-bottom: 85px;

    & p{
        font-size: 35px;
        text-align: center;
        color: rgb(168, 167, 167);
    }
}

figcaption{
    text-align: center;
    font-size: 40px;
    margin:10px;

}

.navbar-img{
    width: 80px;
    height: 80px;
}

.navbar__ul__li--iconos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar__ul--iconos {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar--input{
    width: 45%;
    height: 30%;
    position: relative;
    border: 1px solid black;
    top: 118px;
    font-size: 50px;
    padding-right: 20px;
}



.hombre{
    color: grey;
}

.hidde{
    display: none;
}
.div-info{
    height: 100%;
    width: 100%;
    
}
